@import "../../bower_components/reset-css/_reset.scss";
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

$IndieF:'Indie Flower', cursive;
$Inconsolata:'Inconsolata';
$mainColor:#e7a331;
$widthSite:1200px;
@mixin clearfix {
  &:after, &:before {
    content: "";
    display: table;
    clear: both;
  }
}
*{
    box-sizing: border-box;
}
.AbsBox{
    width:100%;
    min-width: $widthSite;
    height: auto;
}
.SiteBox{
    margin:0 auto;
    padding:0px 10px;
    width: $widthSite;
    height: auto;
}
header{
    .backTopPanel{
        background: #fff;
        .topPanel{
            height: 40px;
            overflow: hidden;
            .right{
                float:right;
                width: 800px;
                height: 40px;
                font-family: $Inconsolata;
                font-weight: bold;
                p{
                    vertical-align: top;
                    display: inline-block;
                    padding:11px 20px;
                    &.orderTime{
                        position: relative;
                        &:before{
                            content:"";
                            position: absolute;
                            top:10px;
                            left:0px;
                            width: 17px;
                            height: 17px;
                            background: url("../img/spritesheet.png") no-repeat;
                            background-position: -5px -5px;
                        }
                    }
                }
                a{
                    display: inline-block;
                    padding:11px 18px;
                    color:#000;
                    &.phone{
                        position: relative;
                        &:before{
                            content:"";
                            position: absolute;
                            top:11px;
                            left:0px;
                            width: 17px;
                            height: 17px;
                            background: url("../img/spritesheet.png") no-repeat;
                            background-position: -105px -5px;
                        }
                    }
                }
                .box{
                    float:right;
                    display: inline-block;
                    vertical-align: top;
                    height: 40px;
                    a{
                        color:#000;
                        float:right;
                        outline: none;
                        text-decoration: none;
                        transition: all .3s;
                        &:hover{
                            color:$mainColor;
                        }
                    }
                }
            }
        }
    }
    .back_nav{
        background: url("../img/back/back_menu.png");
        nav{
            height: 53px;
            overflow: hidden;
            .logo{
                position: absolute;
                top:0px;
                left:185px;
                width: auto;
                height: auto;
                z-index: 100;
                a{
                    display: block;
                }
            }
            .right{
                float:right;
                width: 800px;
                height: 50px;
                font-family: $Inconsolata;
                ul{
                    display: inline-block;
                    li{
                        display: inline-block;
                        a{
                            position: relative;
                            display: block;
                            margin:17px 8px 0px 2px;
                            text-transform: capitalize;
                            color:#fff;
                            overflow: hidden;
                            text-decoration: none;
                            &:after{
                                content:"";
                                position: absolute;
                                left:-100%;
                                bottom:0;
                                transition: all .4s;
                                width: 100%;
                                height: 2px;
                                background: $mainColor;
                            }
                            &:hover{
                                &:after{
                                    content:"";
                                    transition: all .4s;
                                    left:0;
                                }
                            }
                        }
                    }
                }
                .box{
                    height: 50px;
                    display: inline-block;
                    vertical-align: top;
                    float:right;
                    a{
                        border:1px solid #fff;
                        display: inline-block;
                        text-transform: capitalize;
                        text-decoration: none;
                        border-radius: 5px;
                        margin:8px 0px;
                        padding: 8px 10px;
                        color:#fff;
                        transition: all .3s;
                        &:hover{
                            color:$mainColor;
                        }
                    }
                }
            }
        }
    }

}
footer{
    position: relative;
    width: 100%;
    min-width: $widthSite;
    height: auto;
    border-bottom:2px solid $mainColor;
    #map{
        width: 100%;
        height: 500px;
        z-index: 5;
    }
    .backFooter{
        position: absolute;
        top:0;
        left:0;
        height: 300px;
        background: url("../img/back/back_menu.png");
        z-index: 99;
        .content{
            padding: 10px 100px;
            overflow: hidden;
            h3{
                text-transform: capitalize;
                text-align: center;
                font-family: $IndieF;
                font-size: 30px;
                margin: 10px 0px;
                color:$mainColor;
            }
            .timeWorks{
                display: inline-block;
                vertical-align: top;
                width: 300px;
                height: auto;
                color:#fff;
                p{
                    text-transform: capitalize;
                    text-align: center;
                    font-family: $Inconsolata;
                    font-weight: bold;
                    font-size: 18px;
                    margin: 5px 0px;
                }
            }
            .feedback{
                display: inline-block;
                width: 650px;
                height: auto;
                font-size: 0;
                margin:0px 0px 0px 40px;
                div{
                    display: inline-block;
                    vertical-align: top;
                    input{
                        display: block;
                        width:300px;
                        height: 52px;
                        padding: 18px 0px;
                        outline: none;
                        border:none;
                        border-bottom: 1px solid $mainColor;
                        font-family: $Inconsolata;
                        font-size: 16px;
                        &:nth-child(1){
                            border-radius: 5px 0px 0px 0px;
                        }
                    }
                    input::-webkit-input-placeholder       {text-indent: 0px; color:#000; padding:0px 0px 0px 5px; font-family: $IndieF; opacity: 1; transition: text-indent 0.3s ease;}
                    input::-moz-placeholder                {text-indent: 0px; color:#000; padding:0px 0px 0px 5px; font-family: $IndieF; opacity: 1; transition: text-indent 0.3s ease;}
                    input:-moz-placeholder                 {text-indent: 0px; color:#000; padding:0px 0px 0px 5px; font-family: $IndieF; opacity: 1; transition: text-indent 0.3s ease;}
                    input:-ms-input-placeholder            {text-indent: 0px; color:#000; padding:0px 0px 0px 5px; font-family: $IndieF; opacity: 1; transition: text-indent 0.3s ease;}
                    input:focus::-webkit-input-placeholder {text-indent: 220px; transition: text-indent 0.3s ease;}
                    input:focus::-moz-placeholder          {text-indent: 220px; transition: text-indent 0.3s ease;}
                    input:focus:-moz-placeholder           {text-indent: 220px; transition: text-indent 0.3s ease;}
                    input:focus:-ms-input-placeholder      {text-indent: 220px; transition: text-indent 0.3s ease;}
                }
                textarea{
                    padding: 18px 0px;
                    margin:0;
                    width: 350px;
                    height: 156px;
                    resize: none;
                    outline: none;
                    border:none;
                    border-bottom: 1px solid $mainColor;
                    font-family: $Inconsolata;
                    font-size: 16px;
                    border-radius: 0px 5px 0px 0px;
                }
                textarea::-webkit-input-placeholder       {text-indent: 0px; color:#000; padding:0px 0px 0px 5px; font-family: $IndieF; opacity: 1; transition: text-indent 0.3s ease;}
                textarea::-moz-placeholder                {text-indent: 0px; color:#000; padding:0px 0px 0px 5px; font-family: $IndieF; opacity: 1; transition: text-indent 0.3s ease;}
                textarea:-moz-placeholder                 {text-indent: 0px; color:#000; padding:0px 0px 0px 5px; font-family: $IndieF; opacity: 1; transition: text-indent 0.3s ease;}
                textarea:-ms-input-placeholder            {text-indent: 0px; color:#000; padding:0px 0px 0px 5px; font-family: $IndieF; opacity: 1; transition: text-indent 0.3s ease;}
                textarea:focus::-webkit-input-placeholder {text-indent: 220px; transition: text-indent 0.3s ease;}
                textarea:focus::-moz-placeholder          {text-indent: 220px; transition: text-indent 0.3s ease;}
                textarea:focus:-moz-placeholder           {text-indent: 220px; transition: text-indent 0.3s ease;}
                textarea:focus:-ms-input-placeholder      {text-indent: 220px; transition: text-indent 0.3s ease;}
                button{
                    display: block;
                    width: 100%;
                    padding: 10px;
                    border:none;
                    outline: none;
                    cursor: pointer;
                    background: #E7A331;
                    font-family: $IndieF;
                    font-size: 18px;
                    text-transform: capitalize;
                    border-radius: 0px 0px 5px 5px;
                }
            }
        }
    }
}
section{
    // HOME PAGE
    #carousel-example-generic{
        min-width: $widthSite;
        height: 500px;
        overflow: hidden;
        img{
            width: 100%;
            height: auto;
        }
        .carousel-caption{
            width: $widthSite;
            margin:0 auto;
            top:50px;
            left:50%;
            transform: translateX(-50%);
            h3{
                text-align: center;
                text-transform: capitalize;
                font-size: 30px;
                font-family:$IndieF;
                color:#fff;
            }
            p{
                @extend h3;
                font-size: 18px;
                margin:10px 0px;
            }
            a{
                @extend p;
                display: inline-block;
                padding: 8px 18px;
                border-radius: 5px;
                border:1px solid;
                text-decoration: none;
                transition: all .3s;
                &:hover{
                    color:$mainColor;
                }
            }
        }
    }
    .backAboutUs{
        position: relative;
        background: url("../img/back/back3.png");
        &:after{
            position: absolute;
            bottom:0;
            right:0;
            content:"";
            width: 150px;
            height: 150px;
            background: url("../img/back/back_deco1.png") no-repeat;
            background-size: cover;
        }
        .aboutUs{
            height: auto;
            .photo{
                position: relative;
                margin:60px 40px;
                display: inline-block;
                width: 350px;
                height: 250px;
                border:5px solid #fff;
                box-shadow: 0 0 10px rgba(0,0,0,0.5);
                background: url("../img/back/aboutUs1.png") no-repeat;
                background-size: cover;

                &:after{
                    content:"";
                    position: absolute;
                    top:0px;
                    left:0px;
                    margin: 0px;
                    transform: rotate(-10deg);
                    @extend .photo;
                }
            }
            .content{
                display: inline-block;
                vertical-align: top;
                margin:60px 40px;
                width: 660px;
                height: auto;
                h2{
                    text-align: center;
                    text-transform: capitalize;
                    font-size: 40px;
                    font-family:$IndieF;
                    color:$mainColor;
                }
                p{
                    text-transform: capitalize;
                    font-size: 18px;
                    font-family:$Inconsolata;
                }
                a{
                    display: inline-block;
                    text-transform: capitalize;
                    text-decoration: none;
                    margin: 10px 0px;
                    font-size: 18px;
                    font-family:$IndieF;
                    color:$mainColor;
                }
            }
        }
    }
    .backSignatureDishes{
        position: relative;
        background: url("../img/back/back4.png");
        overflow: visible;
        &:after{
            position: absolute;
            bottom:-100px;
            right:0;
            content:"";
            width: 100px;
            height: 200px;
            background: url("../img/back/back_deco3.png") no-repeat;
            background-size: cover;
            z-index: 102;
        }
        &:before{
            position: absolute;
            bottom:-100px;
            left:0;
            content:"";
            width: 100px;
            height: 200px;
            background: url("../img/back/back_deco2.png") no-repeat;
            background-size: cover;
            z-index: 102;
        }
        .signatureDishes{
            height: auto;
            padding: 40px 90px;
            font-size: 0;
            h2{
                display: block;
                margin:20px 0px;
                text-align: center;
                text-transform: capitalize;
                font-size: 40px;
                font-family:$IndieF;
                color:#fff;
            }
            .dish{
                position: relative;
                display: inline-block;
                width: 250px;
                height: 250px;
                overflow: hidden;
                img{
                    max-width: 100%;
                    height: auto;
                }
                .content{
                    position: absolute;
                    top:-100%;
                    left:10%;
                    width: 200px;
                    height: 200px;
                    background: url("../img/back/back_menu.png");
                    transition: all .3s;
                    border-radius: 5px;
                    padding:5px;
                    color:#fff;
                    font-size: 15px;
                    font-family: $IndieF;
                    text-align: center;
                    .about{

                    }
                    .price{
                        margin:10px;
                        font-size: 24px;
                    }
                    a{
                        display: inline-block;
                        padding:6px 8px;
                        text-decoration: none;
                        color:#fff;
                        border-radius: 5px;
                        border:1px solid #fff;
                        &:hover{
                            color:$mainColor;
                        }
                    }
                }
                &:hover{
                    .content{
                        transition: all .3s;
                        top:50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
    // AND HOME PAGE
    // NEWS PAGE
    .backNews{
        height: auto;
        background: url("../img/back/back3.png");
        .boxNews{
            padding: 20px;
            .news{
                margin:17px;
                display: inline-block;
                vertical-align: middle;
                width: 250px;
                height: auto;
                background: #fff;
                box-shadow: 0 0 10px rgba(0,0,0,0.5);
                .img{
                    width: 100%;
                    height: 150px;
                    overflow: hidden;
                    a{
                        margin:0;
                        padding: 0;
                        img{
                            max-width: 100%;
                            height: auto;
                            transition: all 1s;
                            &:hover{
                                transform: scale(2);
                            }
                        }
                    }
                }
                a{
                    text-decoration: none;
                }
                .title{
                    margin: 10px 0px;
                    padding: 0px 5px;
                    font-size: 24px;
                    font-family:$IndieF;
                    text-align: center;
                    text-transform: capitalize;
                    color:$mainColor;
                    &:hover{
                        color:#2680E3;
                    }
                }
                .desc{
                    padding: 0px 5px;
                    font-size: 15px;
                    line-height: 16px;
                    text-align: center;
                    color:#000;
                    font-family: $Inconsolata;
                }
                span{
                    margin:5px 0px;
                    padding: 0px 10px;
                    font-family: $Inconsolata;
                    font-weight: bold;
                    font-size: 15px;
                    color:#000;
                }
                a{
                    display: block;
                    margin: 5px 0px;
                    padding: 0px 5px;
                    font-size: 24px;
                    font-family:$IndieF;
                    text-transform: capitalize;
                    color:$mainColor;
                    &:hover{
                        color:#2680E3;
                    }
                }
            }
        }
    }
    // AND NEWS PAGE
    // FOODMENU PAGE
    .backFoodMenu{
        background: url("../img/back/back4.png");
        .foodMenu{
            padding: 20px 0px;
            ul{
                li{
                    display: inline-block;
                    margin:0px 16px;
                    a{
                        text-decoration: none;
                        text-align: center;
                        text-transform: capitalize;
                        display: inline-block;
                        font-family: $IndieF;
                        font-size: 18px;
                        color:transparent;
                        border-bottom: 1px solid #fff;
                        transition: all .3s;
                        &:hover{
                            color:#fff;
                        }
                    }
                }
            }
            .content{
                padding:20px 0px;
                @include clearfix;
                .boxList{
                    float:right;
                    width: 700px;
                    height: auto;
                    background: #fff;
                    h2{
                        margin: 10px;
                        font-size: 30px;
                        font-family: $IndieF;
                        text-align: center;
                        text-transform: capitalize;
                    }
                    table{
                        th{
                            text-transform: capitalize;
                            font-family: $IndieF;
                            font-weight: bold;
                            font-size: 18px;
                            color:#000;
                        }
                        td{
                            a{
                                text-decoration: none;
                                color:blue;
                                text-transform: capitalize;
                            }
                        }
                    }
                }
                .boxInfoDish{
                    float:left;
                    width: 450px;
                    height: auto;
                    background: #fff;
                    .img{
                        width:100%;
                        height: 300px;
                        img{
                            max-width: 100%;
                            height: auto;
                        }
                    }
                    .info{
                        h3{
                            margin: 10px;
                            font-size: 20px;
                            font-family: $IndieF;
                            text-align: center;
                            text-transform: capitalize;
                        }
                        p{
                            padding:10px;
                            font-family: $Inconsolata;
                        }
                        a{
                            display: inline-block;
                            text-decoration: none;
                            font-family: $IndieF;
                            font-size: 18px;
                            text-transform: capitalize;
                            padding:10px;
                            color:blue;
                        }
                    }
                }
            }
        }
    }
    // AND FOODMENU PAGE

}
// MODAL
.modal-title{
    font-weight: bold;
    font-family: $Inconsolata;
    color:gray;
}
.modal-body{
    input{
        display: block;
        width: 100%;
        padding: 10px;
        border:none;
        border-bottom:1px solid $mainColor;
    }
    span{
        font-weight: bold;
        font-family: $Inconsolata;
        color:gray;
    }
    a{
        display: inline-block;
        margin:10px 0px;
        outline: none;
        text-decoration: none;
        text-transform: capitalize;
        font-family: $Inconsolata;
    }
}
// AND MODAL
