@import "../../bower_components/reset-css/_reset.scss";
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

$IndieF:'Indie Flower', cursive;
$Inconsolata:'Inconsolata';
$mainColor:#e7a331;
$widthSite:1200px;
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.AbsBox{
    width:100%;
    min-width: $widthSite;
    height: auto;
}
.SiteBox{
    margin:0 auto;
    padding:0px 10px;
    width: $widthSite;
    height: auto;
}
.backTopPanel{
    background: #fff;
    .topPanel{
        height: 40px;
        overflow: hidden;
        .right{
            float:right;
            width: 800px;
            height: 40px;
            font-family: $Inconsolata;
            font-weight: bold;
            p{
                vertical-align: top;
                display: inline-block;
                padding:11px 20px;
                &.orderTime{
                    position: relative;
                    &:before{
                        content:"";
                        position: absolute;
                        top:10px;
                        left:0px;
                        width: 17px;
                        height: 17px;
                        background: url("../img/spritesheet.png") no-repeat;
                        background-position: -5px -5px;
                    }
                }
            }
            a{
                display: inline-block;
                padding:11px 18px;
                color:#000;
                &.phone{
                    position: relative;
                    &:before{
                        content:"";
                        position: absolute;
                        top:11px;
                        left:0px;
                        width: 17px;
                        height: 17px;
                        background: url("../img/spritesheet.png") no-repeat;
                        background-position: -105px -5px;
                    }
                }
            }
            .box{
                float:right;
                display: inline-block;
                vertical-align: top;
                height: 40px;
                a{
                    color:#000;
                    float:right;
                    &:hover{
                        color:$mainColor;
                    }
                }
            }
        }
    }
}
.back_nav{
    background: url("../img/back/back_menu.png");
    nav{
        height: 50px;
        overflow: hidden;
        .logo{
            position: absolute;
            top:0px;
            left:185px;
            width: auto;
            height: auto;
            z-index: 100;
            a{
                display: block;
            }
        }
        .right{
            float:right;
            width: 800px;
            height: 50px;
            font-family: $Inconsolata;
            ul{
                display: inline-block;
                li{
                    display: inline-block;
                    a{
                        position: relative;
                        display: block;
                        margin:17px 8px 0px 2px;
                        text-transform: capitalize;
                        color:#fff;
                        overflow: hidden;
                        &:after{
                            content:"";
                            position: absolute;
                            left:-100%;
                            bottom:0;
                            transition: all .4s;
                            width: 100%;
                            height: 2px;
                            background: $mainColor;
                        }
                        &:hover{
                            &:after{
                                content:"";
                                transition: all .4s;
                                left:0;
                            }
                        }
                    }
                }
            }
            .box{
                height: 50px;
                display: inline-block;
                vertical-align: top;
                float:right;
                a{
                    border:1px solid #fff;
                    display: inline-block;
                    text-transform: capitalize;
                    border-radius: 5px;
                    margin:8px 0px;
                    padding: 8px 10px;
                    color:#fff;
                    &:hover{
                        color:$mainColor;
                    }
                }
            }
        }
    }
}
footer{
    position: relative;
    width: 100%;
    height: auto;
    border-bottom:2px solid $mainColor;
    #map{
        width: 100%;
        height: 500px;
        z-index: 5;
    }
    .backFooter{
        position: absolute;
        top:0;
        left:0;
        height: 300px;
        background: url("../img/back/back_menu.png");
        z-index: 99;
        .content{
            padding: 10px 100px;
            overflow: hidden;
            h3{
                text-transform: capitalize;
                text-align: center;
                font-family: $IndieF;
                font-size: 30px;
                margin: 10px 0px;
                color:#fff;
            }
            .timeWorks{
                display: inline-block;
                vertical-align: top;
                width: 300px;
                height: auto;
                color:#fff;
                p{
                    text-transform: capitalize;
                    text-align: center;
                    font-family: $Inconsolata;
                    font-weight: bold;
                    font-size: 18px;
                    margin: 5px 0px;
                }
            }
            .feedback{
                display: inline-block;
                width: 650px;
                height: auto;
                font-size: 0;
                margin:0px 0px 0px 40px;
                div{
                    display: inline-block;
                    vertical-align: top;
                    input{
                        display: block;
                        width:300px;
                        height: 52px;
                        padding: 18px 0px;
                        outline: none;
                        border:none;
                        border-bottom: 1px solid $mainColor;
                        font-family: $Inconsolata;
                        font-size: 16px;
                        &:nth-child(1){
                            border-radius: 5px 0px 0px 0px;
                        }
                    }
                    input::-webkit-input-placeholder       {text-indent: 0px; color:#000; padding:0px 0px 0px 5px; font-family: $IndieF; opacity: 1; transition: text-indent 0.3s ease;}
                    input::-moz-placeholder                {text-indent: 0px; color:#000; padding:0px 0px 0px 5px; font-family: $IndieF; opacity: 1; transition: text-indent 0.3s ease;}
                    input:-moz-placeholder                 {text-indent: 0px; color:#000; padding:0px 0px 0px 5px; font-family: $IndieF; opacity: 1; transition: text-indent 0.3s ease;}
                    input:-ms-input-placeholder            {text-indent: 0px; color:#000; padding:0px 0px 0px 5px; font-family: $IndieF; opacity: 1; transition: text-indent 0.3s ease;}
                    input:focus::-webkit-input-placeholder {text-indent: 220px; transition: text-indent 0.3s ease;}
                    input:focus::-moz-placeholder          {text-indent: 220px; transition: text-indent 0.3s ease;}
                    input:focus:-moz-placeholder           {text-indent: 220px; transition: text-indent 0.3s ease;}
                    input:focus:-ms-input-placeholder      {text-indent: 220px; transition: text-indent 0.3s ease;}
                }
                textarea{
                    padding: 18px 0px;
                    margin:0;
                    width: 350px;
                    height: 156px;
                    resize: none;
                    outline: none;
                    border:none;
                    border-bottom: 1px solid $mainColor;
                    font-family: $Inconsolata;
                    font-size: 16px;
                    border-radius: 0px 5px 0px 0px;
                }
                textarea::-webkit-input-placeholder       {text-indent: 0px; color:#000; padding:0px 0px 0px 5px; font-family: $IndieF; opacity: 1; transition: text-indent 0.3s ease;}
                textarea::-moz-placeholder                {text-indent: 0px; color:#000; padding:0px 0px 0px 5px; font-family: $IndieF; opacity: 1; transition: text-indent 0.3s ease;}
                textarea:-moz-placeholder                 {text-indent: 0px; color:#000; padding:0px 0px 0px 5px; font-family: $IndieF; opacity: 1; transition: text-indent 0.3s ease;}
                textarea:-ms-input-placeholder            {text-indent: 0px; color:#000; padding:0px 0px 0px 5px; font-family: $IndieF; opacity: 1; transition: text-indent 0.3s ease;}
                textarea:focus::-webkit-input-placeholder {text-indent: 220px; transition: text-indent 0.3s ease;}
                textarea:focus::-moz-placeholder          {text-indent: 220px; transition: text-indent 0.3s ease;}
                textarea:focus:-moz-placeholder           {text-indent: 220px; transition: text-indent 0.3s ease;}
                textarea:focus:-ms-input-placeholder      {text-indent: 220px; transition: text-indent 0.3s ease;}
                button{
                    display: block;
                    width: 100%;
                    padding: 10px;
                    border:none;
                    outline: none;
                    cursor: pointer;
                    background: #fff;
                    font-family: $IndieF;
                    font-size: 18px;
                    text-transform: capitalize;
                    border-radius: 0px 0px 5px 5px;
                }
            }
        }
    }
}
